@font-face {
    font-family: IRANSans;
    src: url("../fonts/IRANSans/IRANSansWeb_Light.woff") format("woff");
  }

  *{
    font-family: iransans;
  }

  .collaps_title .list_arrow{
    transition: all 300ms ease !important;
  }

  .collaps_title.active .list_arrow{
    transform: rotate(180deg) !important;
  }

  table.highlight > tbody > tr:hover {
    background-color: #90caf9;
  }

  .box_modal{
    position: fixed;
    width: 100%;
    height: 80vh;
    left: 0;
    bottom: -80vh;
    background: white;
    z-index: 1000;
    border-radius: 30px 30px 0 0;
    box-shadow: 0 0 20px black;
    padding: 20px;
    overflow: auto;
}
  .box_modal.show{
    bottom: 0;
 
}
  .box_modal_back{
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.363);
    z-index: 999;
}

.w-40{
width: 40% !important;
}
.w-100{
width: 100% !important;
}



.border-1{
  border: 0.5px solid rgb(201, 201, 204);
  }

  #search_result_box{
    max-height: calc(100vh - 250px);
    overflow: auto;
}

.down_moj {position: absolute;}

  


  
  

  /* ----------media--------- */
  @media(max-width:600px){
    #search_box{
      flex-direction: column;
      align-items: stretch;
      

    }

    .w-30{
      width: 100% !important;}


    .nav_title{
      display: none !important;
    }

    #search_box a{
      margin-bottom: 1rem;
    }

    .w-40{
      width: 100% !important;
      }

      .down_moj {position: static !important;
        width: 100%;
        margin-top: 20px;

      }

  
  }